{
    "presets": ["es2015", "stage-0"],
    "plugins": [[
            "component",
            [
                {
                    "libraryName": "tesla-native-js",
                    "libDir": "",
                    "style": false
                },
                {
                    "libraryName": "weex-ui",
                    "libDir": "packages",
                    "style": false
                }
            ]
        ]
    ]
}